<web-app>
<servlet>
<servlet-name>process</servlet-name>
<servlet-class>com.nt.servlet.ProcessServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>process</servlet-name>
<url-pattren>/processurl</url-pattren>
</servlet-mapping>
<welcome-file-list>
<welcome-file>form.html</welcome-file>
</welcome-file-list>
</web-app>